@{
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="fr">
    <environment include="Development,Recette">
        <meta name="Robots" content="none">
    </environment>

    <title>@ViewBag.Title - DocaSub</title>

    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Production">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a asp-controller="Dashboard" asp-action="Index" asp-area="Backoffice" class="navbar-brand">Backoffice</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link active" asp-controller="Home" asp-action="Index" asp-area="">Retour App</a>
                    <a class="nav-link" asp-controller="Subventions" asp-action="Index" asp-area="Backoffice">Subventions</a>
                    <a class="nav-link" asp-page="/SubWithRequest" asp-area="Backoffice">Subventions et demandes</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        @await Html.PartialAsync("_Message")
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>