@model IEnumerable<SubRequest>
@{
    
}

<h2>Mes demandes</h2>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Titre</th>
            <th scope="col">Date de la demande</th>
            <th scope="col">Montant</th>
            <th scope="col">Etat</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var req in Model)
        {
            <tr>
                <td scope="row">@req.Title</td>
                <td>@req.CreatedAt</td>
                <td>@req.Amount</td>
                <td>@req.Status</td>
            </tr>
        }
        
    </tbody>
</table>