@{
}

@if (!string.IsNullOrWhiteSpace(TempData["ErrorMessage"]?.ToString()))
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]?.ToString()
    </div>
}

@if (!string.IsNullOrWhiteSpace(TempData["SuccessMessage"]?.ToString()))
{
    <div class="alert alert-success" role="alert">
        @TempData["SuccessMessage"]?.ToString()
    </div>
}
